/* ======================== */
/* ROOT */
/* ======================== */
:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;

    --cc-dark-100: #181820;
    --cc-dark-90: #21212b;
    --cc-dark-80: #272732;
    --cc-dark-70: #414052;

    --cc-white-100: #fdfdfd;
    --cc-purple-100: #a86bd9;
    --cc-red-100: #a0494d;
    --cc-green-100: #00e62b;
    --cc-yellow-100: #ffd100;
}

/* ======================== */
/* RESET */
/* ======================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cc-dark-100);
    padding: 1.5em;
    font-family: var(--font-family);
}

li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--cc-dark-80);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cc-red-100);
    border-radius: 100em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c-accent-darkBlue-two);
}

/* ======================== */
/* TYPOGRAPHY */
/* ======================== */
.header_title {
    font-size: 3rem;
    color: var(--cc-white-100);
}

.section_title {
    font-size: 1.5rem;
    color: var(--cc-white-100);
    padding: 0.5em;
    background: var(--cc-dark-80);
    border-radius: 0.5em 0.5em 0 0;
}

button,
input {
    font-family: var(--font-family);
}

/* ======================== */
/* LAYOUT */
/* ======================== */
.mx-width {
    max-width: 800px;
    margin: 0 auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
    margin-bottom: 3em;
}

.grid {
    display: grid;
    grid-template-columns: 2.3fr 1.7fr;
    grid-gap: 1em;
}

.content {
    padding: 0.5em;
    background: var(--cc-dark-90);
    border-radius: 0 0 0.5em 0.5em;
}

.task_container {
    display: flex;
    flex-direction: column;

    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

/* ======================== */
/* HEADER */
/* ======================== */
.header {
    margin-bottom: 2em;
    padding-bottom: 1em;
}

/* ======================== */
/* TASKS CARD */
/* ======================== */
.task_card {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
}

.task_card h6 {
    font-size: 1rem;
    color: var(--cc-white-100);
    font-weight: normal;
    margin-left: 0.5em;
}

.task_card button {
    margin-left: auto;
}

.task_card div {
    display: flex;
    flex-direction: column;
}

.task_container div p {
    margin-left: 0.5em;
    font-size: 0.8rem;
    color: var(--cc-green-100);
}

/* ======================== */
/* GENERAL INPUT STYLING */
/* ======================== */

/* input */
input[type="checkbox"] {
    color: var(--cc-purple-100);
    cursor: pointer;
}

/* btns */
.btn {
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}

.btn_main {
    background: var(--cc-dark-70);
    color: var(--cc-white-100);
}

.btn_main:hover {
    background: var(--cc-dark-80);
}

.btn_main:focus {
    background: var(--cc-dark-90);
    outline: solid 1px var(--cc-dark-70);
}

/* textarea */
textarea {
    width: 100%;
    font-family: var(--font-family);
    font-size: 1rem;
    color: var(--cc-white-100);
    background: var(--cc-dark-90);
    outline: none;
    border: none;
    resize: none;
    caret-color: var(--cc-white-100);
}

/* select */
select {
    background: var(--cc-dark-900);
    color: var(--cc-white-100);
    font-family: var(--font-family);
    padding: 0.5em;
    outline: 0;
    border: 0;
}
/* ======================== */
/* DAILY NOTES */
/* ======================== */
.daily_note {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.note {
    color: var(--cc-white-100);
    font-size: 1rem;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

/* ======================== */
/* TASK SECTION */
/* ======================== */
.taskSection_header {
    display: flex;
    justify-content: space-between;
}

.taskSection_nav > ul {
    display: flex;
    gap: 0.5em;
    flex-direction: row-reverse;
}

/* ======================== */
/* SORT ELEMENTS */
/* ======================== */
.sort_element {
    position: relative;
}

.sort_value {
    position: absolute;
    background: var(--cc-dark-90);
    border-radius: 0.5em;
    right: 0;
    top: 3em;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;

    height: 1px;
    overflow: hidden;
    padding: 0;
    visibility: hidden;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.sort_controll:focus-within ~ .sort_value {
    visibility: visible;
    padding: 0.5em;
    height: auto;
    overflow: visible;
}

.sort_value li {
    display: inline-block;
    padding: 0.5em;
    flex-wrap: nowrap;
    width: 100%;
    border-radius: 0.5em;
    cursor: pointer;
}

.sort_value li:hover {
    background: var(--cc-dark-80);
}
