/* ======================== */
/* ROOT */
/* ======================== */
:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;

    --fs-title: 1.2rem;
    --fs-body: 1rem;

    --cc-dark-100: #181820;
    --cc-dark-90: #21212b;
    --cc-dark-80: #272732;
    --cc-dark-70: #414052;

    --cc-white-100: #fdfdfd;
    --cc-white-50: #60606e;

    --cc-purple-100: #a86bd9;
    --cc-red-100: #a0494d;
    --cc-green-100: #00e62b;
    --cc-yellow-100: #ffd100;
}

/* ======================== */
/* TYPOGRAPHY */
/* ======================== */
.header_title {
    font-size: 2rem;
    color: var(--cc-white-100);
}

.section_title {
    padding: 0.5em;
    background: var(--cc-dark-80);
    border-radius: 0.5em 0.5em 0 0;
}

.section_title h2 {
    font-size: var(--fs-title);
    color: var(--cc-white-100);
}

button,
textarea {
    font-family: var(--font-family);
    color: var(--cc-white-100);
}

input {
    font-size: var(--fs-body);
}

button {
    font-size: var(--fs-body);
}

textarea {
    font-size: var(--fs-body);
}

.line_through {
    text-decoration: line-through;
}

@media screen and (min-width: 800px) {
    .header_title {
        font-size: 2.5rem;
    }
}
/* ======================== */
/* LAYOUT */
/* ======================== */
.mx-width {
    max-width: 800px;
    margin: 0 auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    width: 100%;
    margin-bottom: 3em;
    padding: 0 1em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
}

.content {
    padding: 0.5em;
    background: var(--cc-dark-90);
    border-radius: 0 0 0.5em 0.5em;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 300px;
}

.content::-webkit-scrollbar {
    height: 4px;
}

.task_container {
    display: flex;
    flex-direction: column;

    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.flex {
    display: flex;
}

.flex_col {
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .main_container {
        row-gap: 2em;
    }

    .grid {
        grid-template-columns: 2.3fr 1.7fr;
    }
}
/* ======================== */
/* HEADER */
/* ======================== */
.header {
    padding: 0 1.5em;
    margin: 1em auto 2em auto;
    max-width: 800px;
}

.banner {
    height: 20vh;
    width: 100%;

    background: center no-repeat
        url(https://images.unsplash.com/photo-1462331940025-496dfbfc7564?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=611&q=80);
    background-size: cover;
}

/* ======================== */
/* TASKS CARD */
/* ======================== */
.task_card {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
}

.task_card h6 {
    font-size: var(--fs-body);
    color: var(--cc-white-100);
    font-weight: normal;
    margin-left: 0.5em;
}

.task_card button {
    margin-left: auto;
}

.task_card div {
    display: flex;
    flex-direction: column;
}

.task_container div p {
    margin-left: 0.8em;
    font-size: 11px;
    color: var(--cc-green-100);
}

/* ======================== */
/* GENERAL INPUT STYLING */
/* ======================== */

/* input */
.custom_input {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid var(--cc-purple-100);
    border-radius: 20em;
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;

    cursor: pointer;
}

.custom_input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--cc-purple-100);
}

.custom_input:checked::before {
    transform: scale(1);
}

.input_container {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--cc-white-100);
}

input[type="text"] {
    outline: none;
    border: none;
    border-bottom: solid 1px var(--cc-dark-80);
    font-weight: normal;
    padding: 0.5em 0;
    background: var(--cc-dark-90);
    caret-color: var(--cc-white-100);
    color: var(--cc-white-100);
}

.inputDate:hover {
    background: var(--cc-dark-70);
}

input[type="text"]:focus {
    border-bottom: solid 1px var(--cc-white-100);
}

/* btns */
.btn {
    border: none;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
    background: none;

    position: relative;
}

.btn_tooltip::after {
    content: attr(data-tooltip);
    padding: 0.5em 1em;

    background: var(--cc-dark-70);
    width: max-content;
    font-family: var(--font-family);
    font-size: 12px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);

    position: absolute;
    top: -1.9em;
    left: -250%;
    z-index: 700;

    pointer-events: none;
    opacity: 0;
}

.btn_tooltip:hover::after {
    opacity: 1;
}

.btn_main {
    padding: 0.7em 0.8em;
    font-size: 14px;
    background: var(--cc-dark-70);
}

.btn_alert {
    padding: 0.7em;
    background: var(--cc-red-100);
}

.btn_secondary {
    padding: 0.7em;
    background: var(--cc-dark-90);
}

.btn_secondary:focus,
.btn_alert:focus {
    outline: solid 1px var(--cc-dark-70);
}

.btn_icon {
    background: var(--cc-dark-70);
    padding: 0.6em;
}

.btn_icon > div {
    width: 20px;
    height: 20px;

    display: grid;
    place-content: center;
}

.btn_nobg {
    border-radius: 200em;
    display: grid;
    place-content: center;
    padding: 0.3em;
}

.btn_main:hover,
.btn_icon:hover,
.btn_nobg:hover {
    background: var(--cc-dark-80);
}

.btn_main:focus {
    background: var(--cc-dark-90);
    outline: solid 1px var(--cc-dark-70);
}

/* textarea */
textarea {
    width: 100%;
    background: var(--cc-dark-90);
    outline: none;
    border: none;
    resize: none;
    caret-color: var(--cc-white-100);
}

/* select */
select {
    background: var(--cc-dark-900);
    color: var(--cc-white-100);
    font-family: var(--font-family);
    padding: 0.5em;
    outline: 0;
    border: 0;
}
/* ======================== */
/* DAILY NOTES */
/* ======================== */
.daily_note {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.note {
    color: var(--cc-white-100);
    font-size: 1rem;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.note_text {
    display: block;
    white-space: pre-wrap;
    font-family: var(--font-family);
    font-size: var(--fs-body);
    width: 100%;
}

/* ======================== */
/* TASK SECTION */
/* ======================== */
.taskSection_header {
    display: flex;
    justify-content: space-between;
}

.taskSection_nav > ul {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5em;
}

/* ======================== */
/* HABITS SECTION */
/* ======================== */
table {
    table-layout: fixed;
    width: max-content;
}

td {
    width: fit-content;
}

table,
td,
th {
    border-collapse: collapse;
    padding: 0.5em;
    font-size: var(--fs-body);
    color: var(--cc-white-100);
    text-align: left;
}

th {
    border: solid 1px var(--cc-white-50);
}

th > div {
    display: flex;
    align-items: center;
}

th > div button {
    opacity: 0;
}

th > div:hover button {
    opacity: 1;
}

th:first-of-type {
    border: solid 1px var(--cc-white-50);
    border-left: none;
    border-right: none;
}
th:last-of-type {
    border: solid 1px var(--cc-white-50);
    border-right: none;
}

td {
    border: solid 1px var(--cc-white-50);
}

td.tr_first {
    border: solid 1px var(--cc-white-50);
    border-left: none;
}

td.tr_first div {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

td.tr_first div p {
    font-size: var(--fs-body);
    display: inline-block;
}

td.tr_first div button {
    font-size: var(--fs-body);
    display: inline-block;
    opacity: 0;
}

td.tr_first div:hover button {
    opacity: 1;
}

td.tr_last {
    border: solid 1px var(--cc-white-50);
    border-right: none;
}

.table_input {
    background: var(--cc-dark-90);
    outline: none;
    border: none;
    color: var(--cc-white-100);
}

/* ======================== */
/* SORT ELEMENTS */
/* ======================== */
.sort_element {
    position: relative;
}

.sort_value {
    position: absolute;
    background: var(--cc-dark-90);
    border-radius: 0.5em;
    right: 0;
    top: 3em;
    z-index: 900;

    font-size: 1rem;
    display: flex;
    flex-direction: column;
    width: max-content;

    height: 1px;
    overflow: hidden;
    padding: 0;
    visibility: hidden;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.sort_value.open {
    visibility: visible;
    padding: 0.5em;
    height: auto;
    overflow: visible;
}

.sort_value li {
    display: inline-block;
    padding: 0.5em;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 0.9rem;
    border-radius: 0.5em;
    cursor: pointer;
    color: var(--cc-white-100);
}

.sort_value li.active {
    background: var(--cc-dark-80);
}

.sort_value li:hover {
    background: var(--cc-dark-80);
}

/* ======================== */
/* DIALOG ELEMENT */
/* ======================== */
dialog {
    background: var(--cc-dark-90);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 0.5em;
    min-width: 300px;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.dialog_content {
    text-align: left;
    padding: 1em;

    display: flex;
    flex-direction: column;
}

.dialog_content h4 {
    color: var(--cc-white-100);
    font-size: 1rem;
    margin-bottom: 1em;
}

.dialog_content button {
    width: 100%;
}

.dialog_ctrl {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    margin-top: 1.5em;
}

@media screen and (min-width: 800px) {
    .myDay_dialog h4 {
        font-size: 1.3rem;
    }
}

.myDay_form {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    margin-bottom: 0.5em;
}

button[type="submit"] {
    margin-top: 1em;
}

.toast {
    background: var(--cc-red-100);
    color: var(--cc-white-100);
    width: max-content;
    padding: 0.5em 1em;
    border-radius: 5px;
    font-size: var(--fs-body);

    display: none;

    position: fixed;
    z-index: 999;
    left: 50%;
    top: -100%;
    opacity: 1;
    transform: translateX(-50%);
}

.toast.active {
    display: flex;
    animation: openToast 4s forwards;
}

@keyframes openToast {
    20% {
        top: 2em;
        opacity: 1;
    }
    90% {
        top: 2em;
        opacity: 1;
    }
    100% {
        top: -100%;
        opacity: 0;
    }
}

/* ======================== */
/* QUOTE*/
/* ======================== */
figure {
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    color: var(--cc-white-100);
    font-size: var(--fs-body);
}

blockquote {
    font-size: var(--fs-body);
    font-weight: 600;
}

.loader_container {
    min-height: 50px;

    display: grid;
    place-content: center;
}

.loader_icon {
    height: 24px;
    width: 24px;

    animation: loader 3s infinite linear;
    transform: rotate(0);
}

@keyframes loader {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
