/* ======================== */
/* ROOT */
/* ======================== */
:root {
    --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", "Helvetica Neue", sans-serif;

    --cc-dark-100: #181820;
    --cc-dark-90: #21212b;
    --cc-dark-80: #272732;

    --cc-white-100: #fdfdfd;
    --cc-purple-100: #a86bd9;
    --cc-red-100: #a0494d;
}

/* ======================== */
/* RESET */
/* ======================== */

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--cc-dark-100);
    padding: 1.5em;
    font-family: var(--font-family);
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--cc-dark-80);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--cc-red-100);
    border-radius: 100em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--c-accent-darkBlue-two);
}

/* ======================== */
/* TYPOGRAPHY */
/* ======================== */
.header_title {
    font-size: 3rem;
    color: var(--cc-white-100);
}

.section_title {
    font-size: 1.5rem;
    color: var(--cc-white-100);
    padding: 0.5em;
    background: var(--cc-dark-90);
    border-radius: 0.5em 0.5em 0 0;
}

button,
input {
    font-family: var(--font-family);
}

/* ======================== */
/* LAYOUT */
/* ======================== */
.mx-width {
    max-width: 800px;
    margin: 0 auto;
}

.main_container {
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 2.5fr 1.5fr;
    grid-gap: 1em;
}

.content {
    padding: 0.5em;
    background: var(--cc-dark-80);
    border-radius: 0 0 0.5em 0.5em;
}

.task_container {
    display: flex;
    flex-direction: column;

    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

/* ======================== */
/* HEADER */
/* ======================== */
.header {
    margin-bottom: 2em;
    padding-bottom: 1em;
}

/* ======================== */
/* TASKS CARD */
/* ======================== */
.task_card {
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
}

.task_card h6 {
    font-size: 1rem;
    color: var(--cc-white-100);
    font-weight: normal;
    margin-left: 0.5em;
}

.task_card button {
    margin-left: auto;
}

/* ======================== */
/* GENERAL INPUT STYLING */
/* ======================== */
input[type="checkbox"] {
    color: var(--cc-purple-100);
    cursor: pointer;
}

/* ======================== */
/* DAILY NOTES */
/* ======================== */
.daily_note {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

.note {
    color: var(--cc-white-100);
    font-size: 1rem;
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

/* ======================== */
/* RESET */
/* ======================== */
/* ======================== */
/* RESET */
/* ======================== */
